<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="gabinet amini, gabinet dziecięcy, gabinet terapii, gabinet dzieciecy, gabinet terapii dziecęcej, gabinet terapii dziececej, gabinet terapii dzieci, gabinet, amini wieliszew, amini, amini gabinet terapii dziecęcej, amini gabinet terapii, gabinet terapii dziececej warszawa, gabinet terapii dziececej wieliszew, gabinet terapii dziececej legionowo, gabinet terapii dziececej radzymin, gabinet terapii dziececej serock, gabinet terapii dziececej nowy dwor mazowiecki, gabinet terapii dziececej wołomin"/>
    <link rel="icon" type="image/x-icon" href="/static/img/logoamini.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/static/img/logoamini.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/css/animate.css">
    <link rel="stylesheet" type="text/css" href="static/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="static/slick/slick-theme.css" />
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" media='screen and (min-width: 0px) and (max-width: 599px)' href="static/css/small.css">
    <link rel="stylesheet" media='screen and (min-width: 600px) and (max-width: 1449px)' href="static/css/medium.css">
    <link rel="stylesheet" media='screen and (min-width: 1450px)' href="static/css/large.css">
    <link rel="stylesheet" href="static/css/font-awesome.css">
    <link rel="stylesheet" href="static/css/all.css">
</head>
<body data-spy="scroll" data-target="#navbar">
    <section id="navbar-mobile-section">
        <nav class="navbar navbar-default fixed-top navbar-light" id="navbar-mobile">
            <a class="navbar-brand mr-auto" id="brand=mobile" href="/">
                <img src="/static/img/logoamini.png" alt="Amini" id="logo-mobile">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar-mobile">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse menutext1 ml-auto" id="collapsibleNavbar-mobile">
                <a class="nav-item nav-link" href="/">Strona główna</a>
                <a class="nav-item nav-link" href="/specjalizacje">Specjalizacje</a>
                <a class="nav-item nav-link" href="/galeria">Galeria</a>
                <a class="nav-item nav-link" href="/zespol">Zespół</a>
                <a class="nav-item nav-link" style="color: #fe0101; font-weight: bold;" href="/cennik">Cennik</a>
                <a class="nav-item nav-link" style="color: #0101ff; font-weight: bold;" href="/kontakt">Kontakt</a>
            </div>
        </nav>
    </section>
    <nav class="navbar navbar-default fixed-top navbar-light" id="navbar">
        <a class="navbar-brand mr-auto" id="brand" href="/">
            <img src="/static/img/logoamini.png" alt="Amini" id="logo">
        </a>
        <div class="navbar-data mr-auto" id="data">
            <div class="menutext1">
                <c>&phone; tel: +48 789 274 847</c>
                <c>&#9993; gabinetamini@gmail.com</c>
            </div>
        </div>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse menutext1 ml-auto" id="collapsibleNavbar">
            <a class="nav-item nav-link" href="/">Strona główna</a>
            <a class="nav-item nav-link" href="/specjalizacje">Specjalizacje</a>
            <a class="nav-item nav-link" href="/galeria">Galeria</a>
            <a class="nav-item nav-link" href="/zespol">Zespół</a>
            <a class="nav-item nav-link" style="color: #fe0101; font-weight: bold;" href="/cennik">Cennik</a>
            <a class="nav-item nav-link" style="color: #0101ff; font-weight: bold;" href="/kontakt">Kontakt</a>
        </div>
        <div class="menu menutext1 ml-auto">
            <a class="nav-item nav-link" href="/">Strona główna</a>
            <a class="nav-item nav-link" href="/specjalizacje">Specjalizacje</a>
            <a class="nav-item nav-link" style="border-bottom: 3px solid black;" href="/galeria">Galeria</a>
            <a class="nav-item nav-link" href="/zespol">Zespół</a>
            <a class="nav-item nav-link" style="color: #fe0101; font-weight: bold;" href="/cennik">Cennik</a>
            <a class="nav-item nav-link" style="color: #0101ff; font-weight: bold;" href="/kontakt">Kontakt</a>
        </div>
    </nav>
    <main>
        <section id="gallery_list" class="scroll-fix">
            <div class="jumbotron jumbotron-fluid">
                <h2>Galeria</h2>
                <div class="underline"></div>
                <div class="wrapper">
                    <div class="row">
                        <div class="row-body">
                            <div class="column">
                                <img src="static/img/image1.png" class="card-img-top" onclick="showImage('static/img/image1.png', 'Zdjecie 1')">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-body">
                            <div class="column">
                                <img src="static/img/image2.png" class="card-img-top" onclick="showImage('static/img/image2.png', 'Zdjecie 2')">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       <div class="row-body">
                           <div class="column">
                                <img src="static/img/image3.png" class="card-img-top" onclick="showImage('static/img/image3.png', 'Zdjecie 3')">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       <div class="row-body">
                           <div class="column">
                                <img src="static/img/image4.png" class="card-img-top" onclick="showImage('static/img/image4.png', 'Zdjecie 4')">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-body">
                            <div class="column">
                                <img src="static/img/image5.png" class="card-img-top" onclick="showImage('static/img/image5.png', 'Zdjecie 5')">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-body">
                            <div class="column">
                                <img src="static/img/image6.png" class="card-img-top" onclick="showImage('static/img/image6.png', 'Zdjecie 6')">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-body">
                            <div class="column">
                                <img src="static/img/image7.png" class="card-img-top" onclick="showImage('static/img/image7.png', 'Zdjecie 7')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cookie-container" id="cookieContainer">
                <p class="cookie-text">Ta strona używa plików cookie. Klikając "Akceptuj", zgadzasz się na ich użycie.</p>
                <button class="cookie-btn" id="cookieAccept">Akceptuj</button>
            </div>
        </section>
    </main>
    <footer>
        <p> &copy;Ofey&Bart </p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="static/js/animation.js"></script>
    <script src="static/js/jquery.waypoints.min"></script>
    <script src="static/slick/slick.min.js"></script>
    <script src="static/js/main.js"></script>
    </body>

</html>