*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: white;
}

body {
  position: relative;
  font-family: Calibri;
  background-color: white;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

h3 {
  text-transform: uppercase;
  text-align: center;
}

.onas {
  text-align: center;
}

.blue-text {
  color: #094f7a;
}

.red-text {
  color: #d10e0e
}

.black-text {
  color: #ffffff
}

.wrapper {
  max-width: 2560px;
  width: 80%;
  margin: 0 auto;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: #000;
}

.scroll-fix::before {
  display: block;
  margin-top: -66px;
  height: 66px;
  content: '';
}

.visibility {
  visibility: hidden;
}

.jumbotron {
  margin: 0;
  padding: 60px 0;

}

nav {
  text-transform: uppercase;
  -webkit-transition: background-color .6s;
  transition: background-color .6s;
}

nav a,
nav c,
nav i,
{
  -webkit-transition: color .3s;
  transition: color .3s;
}

nav a
{
    color: #000;
    font-size: 20px;
}

nav c
{
    color: #000;
    font-size: 20px;
    padding: 10px;
}

nav a:hover {
    text-shadow: 0 0 1px black;
    color: #000;
}

.navbar
{
    border-bottom: 1px solid #999;
    background-color: #fff;
}

.navbar img
{
    width: 300px;
    height: 100px;
}

.nav .navbar-bran d {
}

header {
  overflow: hidden;
  background-color: white;
}

header h1 {
  padding: 10px;
  text-transform: uppercase;
  font-size: 30px;
}

header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/main_background.png");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.01);
  z-index: -10;
}

header .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 90%;
  color: black;
  padding: 100px;
  text-indent: 40px;
  text-align: justify;
}

header .hero-text p {
  padding: 10px;
  font-size: 14px;
}

header .hero-text p1 {
  padding: 10px;
  font-size: 14px;
  text-align: right;
}

header .btn-outline-light {
  text-transform: uppercase;
}

header .fa-chevron-down {
  display: none;
}

#aboutus .jumbotron {
  background-position: bottom;
  background-color: white;
  background-repeat:no-repeat;
  background-size: cover;
  z-index: 0;
}


#aboutus i {
  margin-top: 20px;
  font-size: 30px;
}

#aboutus h3 {
  font-size: 18px;
}
#aboutus p {
  font-size: 14px;
}
#aboutus .aboutus-hover {
  -webkit-transition: color .3s;
  transition: color .3s;
}

#aboutus .aboutus-hover:hover {
  color: #039dff;
}

#specialization .jumbotron {
  background-image: url("../img/lime_green_background.png");
  background-size: cover;
  z-index: -1;
}

#specialization {
  color: #000;
}

#specialization a
{
    color: black;
    font-weight: bold;
}

#specialization .jumbotron p4
{
    color: #000;
}

#specialization_list .jumbotron {
  background-image: url("../img/lime_green_background.png");
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

#specialization_list .row
{
    margin: 3%;
    padding: 3%;
    display: block;
    background-color: white;
    box-shadow: 10px 10px 10px #888888;
}

#specialization_list .row-body
{
    margin: 0 auto;
}

#specialization_list .column {
}

#specialization_list .jumbotron hr
{
    background-color: black;
}

#specialization_list .jumbotron h2 {
  font-size: 32px;
  color: black;
}

#specialization_list .jumbotron i {
  font-size: 35px;
}

#specialization_list  .jumbotron p {
  font-size: 14px;
}

#specialization_list a
{
    color: black;
    font-weight: bold;
}

#gallery .jumbotron {
  background-position: left;
  background-color: #fff;
  background-repeat:no-repeat;
  background-size: cover;
  z-index: 0;
}


#gallery .carousel-item {
  position: relative;
  height: 600px;
}

#gallery .carousel-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#gallery .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#gallery .carousel-indicators {
  padding-bottom: 20px;
}

#gallery .jumbotron p4
{
    color: #000;
}

#gallery_list .jumbotron {
  background-size: cover;
  background-image: url("../img/lime_green_background.png");
  z-index: -1;
  box-sizing: border-box;
}

#gallery_list .row
{
    margin: 3% 15% 0% 15%;
    padding: 2%;
    display: block;
    background-color: white;
    box-shadow: 10px 10px 10px #888888;
}

#gallery_list .row-body
{
    margin: 0 auto;
}

#gallery_list .column {
}

#gallery_list .carousel-item {
  position: relative;
  height: 600px;
}

#gallery_list .carousel-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#gallery_list .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#gallery_list .carousel-indicators {
  padding-bottom: 20px;
}

#gallery_list .jumbotron p4
{
    color: #000;
}

#gallery_list .jumbotron h2
{
    font-size: 32px;
    color: black;
}

#gallery_list .card {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#gallery_list .card img {
  image-align:center;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

#gallery_list .card i {
  padding: 10px 20px;
}

#gallery_list .card .row {
  margin-left: 0;
  margin-right: 0;
}

#gallery_list .card:hover {
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}

#gallery_list .card-title {
  font-weight: bold;
  text-align: center;
}

#gallery_list .card-text {
    font-size: 14px;
    text-align: center;
}

#gallery a
{
    color: black;
    font-weight: bold;
}

#offer .jumbotron {
  background-position: center;
  background-image: url("../img/lime_green_background.png");
  background-size: cover;
  z-index: 0;
}

#offer .price-wrap {
  max-width: 2560px;
  width: 95%;
  margin: 0 auto;
}

#offer .price-box {
  margin: 20px 10px;
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#offer .price-box h3 {
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

#offer .price-box span {
  font-weight: bold;
}

#offer .price-box i {
  padding: 0 5px;
  font-size: 23px;
}

#offer .price-box button {
  padding: 10px 20px;
  text-transform: uppercase;
}

#offer .price-box .priceheader {
  font-size: 20px;
}

#offer .price-box .price {
  font-size: 30px;
  font-weight: bold;
}

#offer .price-box:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#offer .offer-text {
  margin-top: 30px;
}

#offer a
{
    color: black;
    font-weight: bold;
}

#offer_list .jumbotron {
  background-image: url("../img/lime_green_background.png");
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

#offer_list .price-wrap {
  max-width: 2560px;
  width: 95%;
  margin: 0 auto;
}

#offer_list .price-box {
  margin: 20px 10px;
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#offer_list .price-box h3 {
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

#offer_list .price-box span {
  font-weight: bold;
}

#offer_list .price-box i {
  padding: 0 5px;
  font-size: 23px;
}

#offer_list .price-box button {
  padding: 10px 20px;
  text-transform: uppercase;
}

#offer_list .price-box .priceheader {
  font-size: 20px;
}

#offer_list .price-box .price {
  font-size: 30px;
  font-weight: bold;
}

#offer_list .price-box:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#offer_list .offer-text {
  margin-top: 30px;
}

#offer_list a
{
    color: black;
    font-weight: bold;
}

#offer_list .row
{
    margin: 0% 20%;
    background-color: white;
    box-shadow: 10px 10px 10px #888888;
}

#offer_list .row-body
{
    margin: 0 auto;
}

#offer_list .column {
}

#offer_list .jumbotron h2 {
  font-size: 32px;
  color: black;
}

#team .jumbotron {
  background-image: url("../img/lime_green_background.png");
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

#team .jumbotron h2 {
  font-size: 32px;
  color: #000;
  font-weight: bold;
}

#team .jumbotron h3 {
  color: #000;
  font-weight: bold;
}

#team .row
{
    margin: 3%;
    padding: 3%;
    display: block;
    background-color: white;
    box-shadow: 10px 10px 10px #888888;
}

#team .row-body
{
    display: flex;
    margin: 0 auto;
}

#team .column {
  float: left;
  width: 70%;
}

#team .column2 {
  float: right;
  width: 30%;
}

#team .jumbotron p4
{
    color: #000;
}

#team .header
{
 font-family: Calibri;
 font-size: 26px;
}

#team p
{
    text-align: justify;
    text-indent: 40px;
}

#team .text
{
    font-family: Calibri;
    font-size: 22px;
    font-color: black;
}

#team .image1
{
    display: flex;
    margin-left: auto;
    border-radius: 20px;
    width: 70%;
}

#contact .jumbotron {
  position: relative;
  background-color: white;
  background-size: cover;
  z-index: 0;
}

#contact .jumbotron h2 {
  color: black;
  font-size: 32px;
}

#contact .jumbotron h3 {
  color: black;
  font-size: 26px;
  font-weight: bold;
}

#contact .jumbotron p {
  color: black;
  font-size: 20px;
}

#contact .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: black;
}

#contact .contact-us .contact-item {
  margin: 1% 0%;
}

#contact .contact-us .contact-item h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#contact .contact-us .contact-item .social-media {
  font-size: 26px;
}

#contact .contact-us .contact-item .social-media a {
  padding-right: 10px;
  padding-left: 10px;
  color: #4267B2;
  text-shadow: 0 0 1px black;
}

#contact .contact-us .contact-item .social-media a:hover {
  color: #4267B2;
}

#contact_list .jumbotron {
  background-image: url("../img/lime_green_background.png");
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

#contact_list .row
{
    margin: 3%;
    padding: 3%;
    display: block;
    background-color: white;
    box-shadow: 10px 10px 10px #888888;
}

#contact_list .row-body
{
    margin: 0 auto;
}

#contact_list .column {
}

#contact_list .jumbotron h2 {
  color: black;
  font-size: 32px;
}

#contact_list .jumbotron h3 {
  color: black;
  font-size: 26px;
  font-weight: bold;
}

#contact_list .jumbotron p {
  color: black;
  font-size: 20px;
}

#contact_list .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: black;
}

#contact_list .contact-us .contact-item {
  margin: 1% 0%;
}

#contact_list .contact-us .contact-item h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#contact_list .contact-us .contact-item .social-media {
  font-size: 26px;
}

#contact_list .contact-us .contact-item .social-media a {
  padding-right: 10px;
  padding-left: 10px;
  color: #4267B2;
  text-shadow: 0 0 1px black;
}

#contact_list .contact-us .contact-item .social-media a:hover {
  color: #4267B2;
}



footer {
  background-color: black;
}

footer p {
  color: white;
  padding: 5px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 375px) {
  header h1 {
    font-size: 36px;
  }

  header .hero-text p {
    font-size: 16px;
  }

  #specialization .jumbotron h2 {
    font-size: 32px;
  }

  #specialization .jumbotron h3 {
    font-size: 26px;
  }

  #specialization .jumbotron p {
    font-size: 18px;
  }

  #specialization_list .jumbotron h2 {
    font-size: 32px;
  }

  #specialization_list  .jumbotron h3 {
    font-size: 26px;
  }

  #specialization_list  .jumbotron p {
    font-size: 18px;
  }

  #team .card-text {
    font-size: 15px;
  }
}


@media (min-width: 500px) {
  #team .card-body {
    height: 120px;
  }
}

#contact-p {
  margin-top: 25px;
  font-size: 20px;
}

.contact-item .fa-facebook-square {
  font-size: 50px;
}


#gallery .card {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#gallery .card img {
  image-align:center;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

#gallery .card i {
  padding: 10px 20px;
}

#gallery .card .row {
  margin-left: 0;
  margin-right: 0;
}

#gallery .card:hover {
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}

#gallery .card-title {
  font-weight: bold;
  text-align: center;
}

#gallery .card-text {
    font-size: 14px;
    text-align: center;
}

#gallery a
{
    color: black;
    font-weight: bold;
}

li{
  font-size: 18px;
}

hr{
    height: 1px;
    border-width:0;
    color:white;
    background-color:white;
}




