*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: white;
}

body {
  position: relative;
  font-family: Calibri;
  background-color: white;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

h3 {
  text-transform: uppercase;
  text-align: center;
}

.onas {
  text-align: center;
}

.blue-text {
  color: #094f7a;
}

.red-text {
  color: #d10e0e
}

.black-text {
  color: #ffffff
}

.wrapper {
  max-width: 2560px;
  width: 80%;
  margin: 0 auto;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: black;
}

.scroll-fix::before {
  display: block;
  margin-top: -66px;
  height: 66px;
  content: '';
}

.visibility {
  visibility: hidden;
}

.jumbotron {
  margin: 0;
  padding: 60px 0;

}

nav {
  text-transform: uppercase;
  -webkit-transition: background-color .6s;
  transition: background-color .6s;
}

nav a,
nav c,
nav i,
{
  -webkit-transition: color .3s;
  transition: color .3s;
}

nav c
{
    color: #000;
    font-size: 1em;
    padding: 10px;
}

.nav-item
{
    color: #000;
    font-size: 1em;
    text-align: right;
}

nav a:hover {
    text-shadow: 0 0 1px black;
    color: #000;
}

.navbar
{
    border-bottom: 1px solid #999;
    background-color: #fff;
}

#navbar-mobile-section .navbar
{
    display: none;
}

.navbar .navbar-data
{
    padding: 0px 60px;
}

.navbar .navbar-toggler
{
    display: none;
}

.navbar img
{
    width: 20vw;
    height: 100%;
    max-width: 456px;
    max-height: 155px;
}

header {
  overflow: hidden;
  background-color: white;
}

header h1 {
  padding: 10px;
  text-transform: uppercase;
  font-size: 30px;
}

header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/main_background.png");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.01);
  z-index: -10;
}

header .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 90%;
  color: black;
  padding: 100px;
  text-indent: 40px;
  text-align: justify;
}

header .hero-text p {
  padding: 10px;
  font-size: 14px;
}

header .hero-text p1 {
  padding: 10px;
  font-size: 14px;
  text-align: right;
}

header .btn-outline-light {
  text-transform: uppercase;
}

header .fa-chevron-down {
  display: none;
}

#aboutus .jumbotron {
  background-position: bottom;
  background-color: white;
  background-repeat:no-repeat;
  background-size: cover;
  z-index: 0;
}


#aboutus i {
  margin-top: 20px;
  font-size: 30px;
}

#aboutus h3 {
  font-size: 18px;
}
#aboutus p {
  font-size: 14px;
}
#aboutus .aboutus-hover {
  -webkit-transition: color .3s;
  transition: color .3s;
}

#aboutus .aboutus-hover:hover {
  color: #039dff;
}

#specialization .jumbotron {
  background-image: url("../img/lime_green_background.png");
  background-size: cover;
  z-index: -1;
}

#specialization {
  color: #000;
}

#specialization a
{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

#specialization .jumbotron p3
{
    font-size: 28px;
    color: black;
    margin-top: 30px;
}

#specialization .jumbotron p
{
    font-family: Calibri;
    text-indent: 20px;
    text-align: justify;
    font-size: 22px;
}

#specialization_list .jumbotron {
  background-image: url("../img/lime_green_background.png");
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

#specialization_list .jumbotron h2
{
    font-size: 40px;
    margin-top: 100px;
    color: black;
}

#specialization_list .row
{
    margin: 3%;
    padding: 3%;
    display: block;
    background-color: white;
    box-shadow: 10px 10px 10px #888888;
}

#specialization_list .row-body
{
    margin: 0 auto;
}

#specialization_list .column {
}

#specialization_list .jumbotron hr
{
    background-color: black;
    height: 1px;
}

#specialization_list .jumbotron h3 {
  font-size: 28px;
}

#specialization_list .jumbotron i {
  font-size: 35px;
}

#specialization_list .jumbotron p {
  font-size: 20px;
}

#specialization_list .jumbotron li {
  font-size: 20px;
}

#specialization_list a
{
    color: black;
    font-weight: bold;
}

#gallery .jumbotron {
  background-position: left;
  background-color: #fff;
  background-repeat:no-repeat;
  background-size: cover;
  z-index: -1;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 80%, 80%;
}


ol.carousel-indicators {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  height: 30px;
}

ol.carousel-indicators li.active {
  background: white;
}

#gallery .carousel-item {
   position: relative;
   height: 600px;
}

#gallery .carousel-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#gallery .carousel-indicators {
  padding-bottom: 10px;
}

#gallery_list .jumbotron {
  background-size: cover;
  background-image: url("../img/lime_green_background.png");
  z-index: -1;
  box-sizing: border-box;
}

#gallery_list .row
{
    margin: 3% 15% 0% 15%;
    padding: 2%;
    display: block;
    background-color: white;
    box-shadow: 10px 10px 10px #888888;
}

#gallery_list .row-body
{
    margin: 0 auto;
}

#gallery_list .column {
    cursor: pointer;
}

#gallery_list .carousel-item {
  position: relative;
  height: 600px;
}

#gallery_list .carousel-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#gallery_list .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#gallery_list .carousel-indicators {
  padding-bottom: 20px;
}

#gallery_list .jumbotron h2
{
    font-size: 40px;
    margin-top: 100px;
    color: black;
}

#gallery_list .card {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#gallery_list .card img {
  image-align:center;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

#gallery_list .card i {
  padding: 10px 20px;
}

#gallery_list .card .row {
  margin-left: 0;
  margin-right: 0;
}

#gallery_list .card:hover {
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}

#gallery_list .card-title {
  font-weight: bold;
  text-align: center;
}

#gallery_list .card-text {
    font-size: 14px;
    text-align: center;
}

#gallery a
{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

#offer .jumbotron {
  background-position: center;
  background-image: url("../img/lime_green_background.png");
  background-size: cover;
  z-index: -1;
}

#offer .price-wrap {
  max-width: 2560px;
  width: 95%;
  margin: 0 auto;
}

#offer .price-box {
  margin: 12px 10px;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#offer .price-box h3 {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
}

#offer .price-box span {
  font-weight: bold;
}

#offer .price-box i {
  padding: 0 5px;
  font-size: 23px;
}

#offer .price-box button {
  padding: 10px 20px;
  text-transform: uppercase;
}

#offer .price-box .priceheader {
  font-size: 20px;
}

#offer .price-box .price {
  font-size: 30px;
}

#offer .price-box:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#offer a
{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

#specialization_list a
{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

#offer_list a
{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

#offer hr
{
    height: 1px;
    color: black;
    background-color: black;
}

#offer_list .jumbotron {
  background-image: url("../img/lime_green_background.png");
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

#offer_list .price-wrap {
  max-width: 2560px;
  width: 95%;
  margin: 0 auto;
}

#offer_list .price-box {
  margin: 20px 10px;
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#offer_list .price-box h3 {
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

#offer_list .price-box span {
  font-weight: bold;
}

#offer_list .price-box i {
  padding: 0 5px;
  font-size: 23px;
}

#offer_list .price-box button {
  padding: 10px 20px;
  text-transform: uppercase;
}

#offer_list .price-box .priceheader {
  font-size: 20px;
}

#offer_list .price-box .price {
  font-size: 30px;
  font-weight: bold;
}

#offer_list .price-box:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#offer_list a
{
    color: black;
    font-weight: bold;
}

#offer_list .row
{
    margin: auto;
    background-color: white;
    box-shadow: 10px 10px 10px #888888;
}

#offer_list img
{
    max-width: 100%;
}

#offer_list .row-body
{
    margin: 0 auto;
}

#offer_list .column {
    cursor: pointer;
}

#offer_list .jumbotron h2 {
  margin-top: 100px;
  font-size: 40px;
  color: black;
}

#team .jumbotron {
  background-image: url("../img/lime_green_background.png");
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

#team .jumbotron h3 {
  color: #000;
  font-weight: bold;
}

#team .row
{
    margin: 3%;
    padding: 3%;
    display: block;
    background-color: white;
    box-shadow: 10px 10px 10px #888888;
}

#team .row-body
{
    display: flex;
    margin: 0 auto;
}

#team .column {
  float: left;
  width: 70%;
}

#team .column2 {
  float: right;
  width: 30%;
}

#team .header
{
     font-family: Calibri;
     font-size: 24px;
}

#team p
{
    text-align: justify;
    font-family: Calibri;
    text-indent: 40px;
    font-size: 24px;
}


#team .text
{
    font-family: Calibri;
    font-size: 20px;
    font-color: black;
    text-align: justify;
}

#team .image1
{
    padding: 3%;
    display: block;
    background-color: white;
    display: flex;
    margin-left: auto;
    width: 70%;
}

#team .jumbotron hr
{
    background-color: black;
    height: 1px;
}

#team .jumbotron h2
{
    margin-top: 100px;
    font-size: 40px;
    color: black;
}

#contact .jumbotron {
  background-color: white;
  background-size: cover;
  z-index: 0;
}

#contact .row
{
    margin: auto;
    padding: 2% 5%;
    display: block;
    background-color: white;
    box-shadow: 10px 10px 10px #888888;
    display: flex;
    background-color: white;
    border: 2px black solid;
}

#contact .jumbotron h2 {
  color: black;
  font-size: 32px;
}

#contact .jumbotron h3 {
  color: black;
  font-size: 26px;
  font-weight: bold;
}

#contact .jumbotron p {
  color: black;
  font-size: 22px;
}

#contact .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: black;
}

#contact .contact-us .contact-item {
  margin: 1% 0%;
}

#contact .contact-us .contact-item h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#contact .contact-us .contact-item .social-media {
  font-size: 26px;
}

#contact .contact-us .contact-item .social-media a {
  padding-right: 10px;
  padding-left: 10px;
  color: #4267B2;
  text-shadow: 0 0 1px black;
}

#contact .contact-us .contact-item .social-media a:hover {
  color: #4267B2;
}

#contact_list .jumbotron {
  background-image: url("../img/lime_green_background.png");
  background-size: cover;
  z-index:  -1;
  box-sizing: border-box;
}

#contact_list .row
{
    border: 2px black solid;
    margin: auto;
    padding: 2% 5%;
    display: block;
    background-color: white;
    box-shadow: 10px 10px 10px #888888;

}

#contact_list .row-body
{
    margin: 0 auto;
}

#contact_list .column {
}

#contact_list .jumbotron h2
{
    margin-top: 100px;
    font-size: 40px;
    color: black;
}

#contact_list .jumbotron h3 {
  color: black;
  font-size: 26px;
  font-weight: bold;
}

#contact_list .jumbotron p {
  color: black;
  font-size: 20px;
}

#contact_list .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: black;
  height: 50vh;
}

#contact_list .contact-us .contact-item {
  margin: 1% 0%;
}

#contact_list .contact-us .contact-item h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#contact_list .contact-us .contact-item .social-media {
  font-size: 26px;
}

#contact_list .contact-us .contact-item .social-media a {
  padding-right: 10px;
  padding-left: 10px;
  color: #4267B2;
  text-shadow: 0 0 1px black;
}

#contact_list .contact-us .contact-item .social-media a:hover {
  color: #4267B2;
}

.contact-item .fa-facebook-square {
  font-size: 50px;
}

#contact-p {
  margin-top: 25px;
  font-size: 20px;
}

footer {
  background-color: #e9e7e6;
}

footer p {
  color: black;
  padding: 5px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
}

#gallery .card {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#gallery .card img {
  image-align:center;
  width: 100%;
}

#gallery .card i {
  padding: 10px 20px;
}

#gallery .card .row {
  margin-left: 0;
  margin-right: 0;
}

#gallery .card:hover {
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}

#gallery .card-title {
  font-weight: bold;
  text-align: center;
}

#gallery .card-text {
    font-size: 14px;
    text-align: center;
}

#gallery a
{
    color: black;
    font-weight: bold;
}

hr{
    height: 2px;
    color: white;
    background-color: white;
}

/* Styl okienka cookie */
.cookie-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    display: none;
}

/* Styl przycisku akceptacji cookie */
.cookie-btn {
    background: #1e90ff;
    border: none;
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 20px;
    transition: background-color 0.3s;
}

.cookie-btn:hover {
    background: #1475c6;
}

/* Styl tekstu w okienku cookie */
.cookie-text {
    margin: 0 10px; /* Zwiększenie odstępu między tekstem a przyciskami */
}