@media (min-width: 600px) and (max-width: 1449px)
{
    nav c
    {
        color: #000;
        font-size: 1em;
        padding: 10px;
    }

    .navbar
    {
        border-bottom: 1px solid #999;
        padding: 5px 60px;
        background-color: #fff;
    }

    #navbar-mobile-section .navbar
    {
        display: none;
    }

    .navbar-brand
    {
        width: 20%;
    }

    .navbar .navbar-toggler
    {
        display: block;
        font-size: 2em;
    }

    .navbar .navbar-data
    {
        padding: 0px 2vw;
        margin: auto;
    }

    .navbar img
    {
        width: 16vw;
        height: 100%;
        max-width: 456px;
        max-height: 155px;
    }

    .navbar .menu
    {
        display: none;
    }

    .navbar .menutext1
    {
        font-family: Calibri;
        text-transform: none;
    }

    header .hero-text
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 90%;
        color: black;
        padding: 60px;
        text-indent: 40px;
        text-align: justify;
    }

    #aboutus h2
    {
        font-size: 30px;
    }

    .author
    {
        font-family: Calibri;
        font-size: 22px;
        opacity: 100%;
    }

    .text12
    {
        font-family: Calibri;
        font-size: 22px;
        opacity: 80%;
    }

    .text1
    {
        font-family: Calibri;
        font-size: 24px;
        opacity: 80%;
        color: black;
    }

    .text2
    {
        font-family: Calibri;
        font-size: 20px;
        text-indent: 60px;
        text-align: justify;
    }

    .text3
    {
        font-color: black;
        font-family: Calibri;
        text-align: left;
        font-size: 22px;
    }

    header .hero-img
    {
        height: 120vh;
        background-image: url("../img/main_background.png");
        background-position: center;
        background-size: cover;
        z-index: 0;
    }

    #specialization h2
    {
        font-size: 30px;
    }

    #gallery h2
    {
        font-size: 30px;
    }

    #offer h2
    {
        font-size: 30px;
    }

    #team h2
    {
        font-size: 30px;
    }

    #contact h2
    {
        font-size: 30px;
    }

    #contact .jumbotron h2
    {
      color: black;
      font-size: 30px;
    }

    #specialization_list .jumbotron
    {
        margin-top: 10vh;
    }

    #gallery .gallery-info
    {
        font-size: 18px;
        color: black;
        margin-top: 30px;
    }

    #gallery_list .jumbotron
    {
        margin-top: 10vh;
    }

    #team .jumbotron
    {
        margin-top: 10vh;
    }

    #offer_list .jumbotron
    {
        margin-top: 10vh;
    }

    #offer .offer-info
    {
        font-size: 18px;
        color: black;
        margin-top: 30px;
    }

    #offer_list .offer-info
    {
        font-size: 18px;
        color: black;
        margin-top: 30px;
    }

    #specialization .jumbotron h3
    {
        font-family: Calibri;
        font-size: 18px;
    }

    #specialization .jumbotron p
    {
        font-family: Calibri;
        text-indent: 18px;
        text-align: justify;
        font-size: 14px;
    }

    #specialization .jumbotron p3
    {
        font-size: 18px;
        color: black;
        margin-top: 30px;
    }

    #offer .price-box h3
    {
        color: #000;
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
    }

    #offer .price-box .price
    {
        font-size: 20px;
    }

    #offer .price-box .priceheader
    {
        font-size: 16px;
    }

    #contact_list .jumbotron
    {
        margin-top: 10vh;
    }

    #contact_list .row
    {
        border: 2px black solid;
        margin: auto;
        padding: 2% 5%;
        display: block;
        background-color: white;
        box-shadow: 10px 10px 10px #888888;
        width: 90%;
        height: auto;
    }

    #contact_list .row-body
    {
        margin: 0 auto;
    }

    #contact_list .column
    {
    }

    #contact_list .jumbotron h2
    {
        margin-top: 0px;
        font-size: 40px;
        color: black;
    }

    #contact_list .jumbotron h3
    {
        color: black;
        font-size: 26px;
        font-weight: bold;
    }

    #contact_list .jumbotron p
    {
        color: black;
        font-size: 20px;
    }

    #contact_list .contact-us
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: black;
    }

    #contact_list .contact-us .contact-item
    {
        margin: 1% 0%;
    }

    #contact_list .contact-us .contact-item h3
    {
        margin-bottom: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #contact_list .contact-us .contact-item .social-media
    {
        font-size: 26px;
    }

    #contact_list .contact-us .contact-item .social-media a
    {
        padding-right: 10px;
        padding-left: 10px;
        color: #4267B2;
        text-shadow: 0 0 1px black;
    }

    #contact_list .contact-us .contact-item .social-media a:hover
    {
        color: #4267B2;
    }

    #contact .contact-us .contact-item h3
    {
        margin-bottom: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #contact .contact-us .contact-item .social-media
    {
        font-size: 26px;
    }

    #contact .contact-us .contact-item
    {
        margin: 5% 0%;
    }

    #contact .contact-us .contact-item .social-media a
    {
        padding-right: 10px;
        padding-left: 10px;
        color: #4267B2;
        text-shadow: 0 0 1px black;
    }

    #contact .contact-us .contact-item .social-media a:hover
    {
        color: #4267B2;
    }

    #specialization_list .jumbotron h3
    {
        font-size: 20px;
        color: black;
    }

    #specialization_list .jumbotron i
    {
        font-size: 18px;
    }

    #specialization_list .jumbotron p
    {
        font-size: 16px;
    }

    #specialization_list .jumbotron p2
    {
        font-size: 18px;
    }

    #specialization_list .jumbotron li
    {
      font-size: 16px;
    }

    #specialization_list .jumbotron h2
    {
        margin-top: 0px;
        font-size: 30px;
        color: black;
    }

    #specialization_list .row
    {
        margin: 5% 0%;
        padding: 5%;
        display: block;
        background-color: white;
        box-shadow: 10px 10px 10px #888888;
    }

    #gallery_list .jumbotron h2
    {
        margin-top: 0px;
        font-size: 30px;
        color: black;
    }

    #team .jumbotron h2
    {
        margin-top: 0px;
        font-size: 30px;
        color: black;
    }

    #offer_list .jumbotron h2
    {
        margin-top: 0px;
        font-size: 30px;
        color: black;
    }

    #offer_list .row
    {
        margin: auto;
        background-color: white;
        box-shadow: 10px 10px 10px #888888;
    }

    #offer_list img
    {
        max-width: 100%;
    }

    #gallery_list .row
    {
        margin: 5% 0% 0% 0%;
        padding: 2%;
        display: block;
        background-color: white;
        box-shadow: 10px 10px 10px #888888;
    }

    #team .row
    {
        margin: 3%;
        padding: 3%;
        display: block;
        background-color: white;
        box-shadow: 10px 10px 10px #888888;
    }

    #team .row-body
    {
        display: flex;
        margin: 0 auto;
    }

    #team .column {
      float: left;
      width: 70%;
    }

    #team .column2 {
      float: right;
      width: 30%;
    }

    #team .image1
    {
        padding: 3%;
        display: block;
        display: block;
        background-color: white;
        display: flex;
        margin-left: auto;
        width: 80%;
    }

    #team .header
    {
        font-family: Calibri;
        font-size: 18px;
    }

    #team .text
    {
        font-family: Calibri;
        font-size: 16px;
        font-color: black;
    }

    #team p
    {
        text-align: justify;
        font-family: Calibri;
        font-size: 16px;
    }

    footer
    {
        background-color: #e9e7e6;
    }

    footer p
    {
        font-size: 12px;
        color: black;
        padding: 5px;
        margin-bottom: 0;
        text-align: center;
        font-weight: bold;
    }
}

header h1 {
  font-size: 42px;
}

#offer .price-wrap {
  width: 90%;
}

#offer_list .price-wrap {
  width: 90%;
}

#specialization_list .specialization-info {
  font-size: 28px;
  color: black;
  margin-top: 10vh;
}

#gallery .gallery-text {
  margin-top: 40px;
}

.text4 {
 font-family: Calibri;
 font-size: 22px;
}

.text5 {
 font-family: Calibri;
 font-size: 26px;
 text-align: right;
}

.text6 {
 font-family: Calibri;
 text-align: left;
 font-size: 22px;
}

th
{
    font-size: 24px;
}

tr
{
    font-size: 22px;
}

td
{
    height:100px;
    line-height: 70px;
}

/*# sourceMappingURL=medium.css.map */